@model IEnumerable<FantasySportsMVC.Models.PlayerDetails>

@{
    ViewBag.Title = "PositionWithDynamicScores";
}

<h2>PositionWithDynamicScores</h2>

<body>
    <div>
        <select id="ddlTournament"></select>
    </div>
    <div id="results">
    </div>
    <table id="tbDetails">
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@player.LastName</td>
                    <td>@player.FirstName</td>
                    <td>@player.Position</td>
                </tr>
            }
        </tbody>
    </table>
</body>

<script type="text/javascript">

    function PopulateTournamentDropdown() {

        $.ajax({
            url: '/Leaderboard/PopulateTournamentDropDownList',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var ddlTournament = $("#ddlTournament");
                ddlTournament.empty();
                $.each(data, function (i, tournament) {
                    ddlTournament.append('<option value="' + tournament.Id + '">' + tournament.Name + '</option>');
                });
            },
            error: function () {
                alert('Failed to retrieve tournament.');
            }
        });
    }

    function SendTournamentId() {
        var data = JSON.stringify({ tournamentId: $("#ddlTournament option:selected").val() });
        $.ajax({
            url: '/Leaderboard/ConstructLeaderboardUrl',
            type: 'POST',
            dataType: 'json',
            data: data,
            contentType: 'application/json; charset=utf-8',
            success: function () {
                return JSON.stringify($("#ddlTournament option:selected").val());
            }
        });
    }

    $(function () {
        $('#ddlTournament').change(PopulateTournamentDropdown);
        $('#ddlTournament').change(SendTournamentId);
        PopulateTournamentDropdown();
    });

</script>